@font-face {
    font-family: 'inter-bold';
    src: url('/src/fonts/Inter-Bold.woff') format('woff');
    font-weight: 700;
}
@font-face {
    font-family: 'inter-semi-bold';
    src: url('/src/fonts/Inter-SemiBold.woff') format('woff');
    font-weight: 600;
}
@font-face {
    font-family: 'inter-regular';
    src: url('/src/fonts/Inter-Regular.woff') format('woff');
    font-weight: 400;
}
@font-face {
    font-family: 'inter-medium';
    src: url('/src/fonts/Inter-Medium.woff') format('woff');
    font-weight: 500;
}