$sb-width: 280px;
$blue: #5048E5;
$green: #10B981;

$sb-inter: 'inter-semi-bold', sans-serif;
$r-inter: 'inter-regular', sans-serif;
$b-inter: 'inter-bold', sans-serif;
$m-inter: 'inter-medium', sans-serif;